---
ColumnLimit:     100
IndentWidth:     2
TabWidth:        2
UseTab:          Never
Cpp11BracedListStyle: true
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     true
  BeforeElse:      true
  IndentBraces:    false